name: PHP Linter

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  php-linter:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"

    steps:
      - uses: actions/checkout@v5
        with:
          repository: ${{ github.event.client_payload.pull_request.head.repo.full_name }}
          ref: ${{ github.event.client_payload.pull_request.head.ref }}

      -   name: Setup PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: "${{ matrix.php-version }}"
            coverage: none # disable xdebug, pcov

      -   name: Composer install
          uses: ramsey/composer-install@v3
          with:
            composer-options: "--ansi --prefer-dist  --no-security-blocking"

      -   name: Lint PHP
          run: vendor/bin/parallel-lint src tests config
