name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: tests-${{ github.head_ref || github.run_id }} # will be canceled on subsequent pushes in pull requests but not branches
  cancel-in-progress: true

jobs:

  phpunit:
    name: PHPUnit
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"

    steps:
    - uses: actions/checkout@v6
      with:
        repository: ${{ github.event.client_payload.pull_request.head.repo.full_name }}
        ref: ${{ github.event.client_payload.pull_request.head.ref }}

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: "${{ matrix.php-version }}"
        coverage: none

    - uses: "ramsey/composer-install@v3"
      with:
        dependency-versions: "${{ matrix.dependencies }}"
        # ignore php8.2 requirement error https://github.com/sebastianbergmann/phpunit/issues/5033
        composer-options: "--ignore-platform-req=php+ --no-security-blocking"

    - name: Setup Problem Matchers for PHPUnit
      run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: Lint
      run: composer exec -- parallel-lint --colors src/ tests/

    - run: composer run phpunit -- --colors=always
